
<h1>
	<%= @article.title %>	
</h1>

<br />

<p>
	<%= @article.body %>
</p>

<br>

<%= form_for([@article, @article.comments.build]) do |f| %>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Articles", articles_path %>