
 
<div class="container">
 <div class="row">

	<div class="col-md-8">
		
	 <h1 class="page-header">Articles</h1>
	 
	 
	  <% @articles.each do |article| %>
	   
	   <h2>
	   	<%= link_to article.title, article %>
	   </h2>
	   
	   <p><span class="glyphicon glyphicon-time"></span> Posted on <%= article.created_at %> </p>
	   Category: <%= article.category %>
	   <hr>
	   <p><%= article.body %></p>
	   <hr>
	  <% end %>
 	</div>
 	
   	 <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                	
                    <%= search_form_for @search do |f| %>
                    <table>
                    	<tr>
							<td>Search by title </td> 
							<td> <%= f.text_field :title_cont %> </td> 
					  	</tr>
					  	
					  	<tr>
							<td>Search by category </td> 
							<td> <%= f.text_field :category_cont %> </td> 
					  	</tr>
					</table>
					  	<%= f.submit "Search" %>
					  	
					<% end %>
					
                </div>
     </div>
  
  </div>
 <div class="container">
 
  
  
<%= will_paginate @articles %>
