
  <div class="container">

        <div class="row">

            <div class="col-lg-8">


<h1>
	<%= @article.title %>	
</h1>

<br />

<p class="lead">
	<%= label_tag "Category:" %> <%= @article.category %>
</p>

<hr>

<p>
	<%= @article.body %>
</p>

<hr>

<p>
	<%= label_tag "Tags: " %><%= @article.tag_list %>
	
</p>

<br />





<div class="well">
	<%= form_for([@article, @article.comments.build]) do |f| %>
	
	  <p>
	    <%= f.label "Add a comment" %><br>
	    <%= f.text_area :body %>
	  </p>
	  <p>
	    <%= f.submit %>
	  </p>
	<% end %>
</div>


<div class="media-body">
	<%= label_tag "Comments:" %>
	<% @article.comments.each do |comment| %>
		
		<p>
			<%= comment.body %>
		</p>
	
	<% end %>
</div>

<%= link_to "Back to articles", articles_path %>

		</div>
	</div>
</div>


